@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color: #c04ae2;
    --secondry-color: #111111;
    --primary-font: 'Poppins', 'sans-sarif';
    --secondry-font: 'Overpass', 'sans-sarif';
}

/* Global Style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--secondry-color);
}
section{
    position: relative;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

/* Global Style */


a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--secondry-font);
    margin-bottom: 1rem;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-primary{
    color: var(--primary-color);
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.btn{
    display: inline-block;
    max-width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.btn-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.btn-primary:hover{
    background-color: #a03dd1;
}
.btn-secondry{
    border: 1px solid var(--primary-color);
}
.btn-secondry:hover{
    background-color: var(--primary-color);
}
.section .subheading{
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.section-heading{
    font-size: 3rem;
    max-width: 600px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.section-heading.left{
    margin-right: auto;
} 
.section-heading.right{
    margin-left: auto;
}

/* Header */

header{
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    z-index: 9999;
}
header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.1);
    background-color: #f3f9fb;
    transition: 500ms linear;
}
.header_logo img{
    width: 100px;
}
.header_menu{
    gap: 1rem;
}
.header_menu li a{
    font-size: 0.8rem;
    font-weight: 600;
    transition: color 0.3s ease;
}
.header_menu li a:hover{
    color: var(--primary-color);
}
header .right{
    gap: 1rem;
    display: flex;
    align-items: center;
}
a.btn.btn-secondry:hover {
    color: #fff;
}
.menu-btn{
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Header */

/* Hero */

#hero{
    min-height: 100vh;
}
.hero_content{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero_content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2 ;
}
.hero_content p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
.hero_img{
    width: 60%;
}

/* Hero */

/* About */

.features{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.feature{
    padding: 2rem;
    border-radius: 8px;
    border: 2px solid var(--color);
    transition: all 0.4s ease;
}
.feature:hover {
    transform: rotate3d(1, 1, 1, 10deg);
    cursor: pointer;
    background-color: azure;
}
.feature-icon{
    font-size: 2rem;
    color: var(--color);
    margin-bottom: 1rem;
}
.feature_title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.feature-text{
    font-size: 0.9rem;
}
.about_details{
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}
.about_details.content{
    width: 50%;
}
.about_details-content h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.about_details.content p{
    font-size: 0.9rem;
    font-weight: 400;
}
.about_details-content .btn{
    margin-top: 1rem;
}
.about_details-img{
    width: 50%;
}

/* About */

/* Services */

#services .section-subheading,
#services .section-subheading{
    text-align: right;
}

.services{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px , 1fr));
    gap: 2rem;
}
.service{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-icon img{
    width: 50px;
    margin-bottom: 1rem;
}
.services-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.service-text{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.service .arrow-icon{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: auto;
    transition: transform 0.3s;
}
.service:hover .arrow-icon{
    transform: translateX(5px);
}


/* Services */

/* Projects */

.projects{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 5rem;
}
.project{
    display: flex;
    gap: 10%;
    align-items: center;
}
.project:nth-child(2){
    flex-direction: row-reverse;
}
.project_img{
    position: relative;
    min-width: 35%;
}
.project_img::after{
    content: "";
    position: absolute;
    top: -20px;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    z-index: 1;
    border: 4px solid #f1e8ed;
}
.project:nth-child(1) .project_img::after,
.project:nth-child(3) .project_img::after
{
    left: -20px;
}
.project:nth-child(2) .project_img::after{
    right: -20px;
    border-color: #6bc2ed;
}
.project:nth-child(3) .project_img::after{
    border-color: #fed440;
}
.project_content{
    padding-left: 20px;
}
.project_category{
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--primary-color);
}
.project_title{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.project_text{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}


/* Projects */

/* team */

.members{
    display: flex;
    gap: 3rem;
}
.member:nth-child(2),
.member:nth-child(4){
    margin-top: 5rem;
}
.member_img{
    margin-bottom: 1rem;
}
.member_content h1{
    margin-bottom: 0.25rem;
}
.member_content p{
    opacity: 0.4;
    font-weight: 600;
}

/* team */

/* Testimonials */

#testimonials{
    display: flex;
    align-items: center;
    gap: 5rem;
}
#testimonials .section-subheading{
    margin-bottom: 2rem;
}
.testimonials-wrapper{
    position: relative;
    width: 70%;
}
.quotes{
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.testimonial_title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.testimonial_text{
    opacity: 0.8;
    margin-bottom: 3rem;
}
.testimonials_img img{
    max-height: 500px;
}
.testimonial_author{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.testimonial_author h3{
    margin: 0;
}
.testimonial_author p{
    color: rgb(95, 95, 95);
    font-size: 0.8rem;
    font-weight: 600;
}
.testimonial_author::before{
    content: "";
    width: 15px;
    transform: translateY(-70%);
    border-bottom: 1px solid #111111;
}
.testimonial-navigation{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.testimonial-navigation span{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s;
}

/* Testimonials */

/* contact */

.contact{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.contact_form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact_form input,
.contact_form textarea{
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.contact_form textarea{
    resize: vertical;
}
.contact_details{
    width: 50%;
}
.contact_details .text{
    font-size: 0.9rem;
    color: #2e2e2e;
    margin-bottom: 2rem;
}
.contact_details .details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact_details .detail{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.detail_icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 0.8rem;
    background-color: #fe6686;
}
.detail:nth-child(2) .detail_icon{
    background-color: #54d6a1;
}
.detail:nth-child(3) .detail_icon{
    background-color: #fe9a3f;
}
.detail_content h3{
    margin: 0;
    line-height: 1;
}
.detail_content p{
    color: #747474;
    font-size: 0.9rem;
}

/* contact */

/* footer */

footer{
    padding: 4rem 0 2rem 0;
    background-color: #eeeeee91;
}
.footer_content{
    display: grid;
    gap: 5rem;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.footer_logo{
    width: 100px;
    margin-bottom: 1rem;
}
.footer_text{
    font-size: 0.9rem;
    color: #747474;
    margin-bottom: 1rem;
}
.footer_newsltter{
    position: relative;
}
.footer_newsltter input{
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #f3f9fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.footer_newsltter .icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
}
.footer_menu-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    color: #747474;
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #747474;
    margin-top: 3rem;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.footer_bottom-icons{
    display: flex;
    gap: 1rem;
}
.facebook{
    color: #3b5998;
}
.twitter{
    color: #00acee;
}
.instagram{
    color: #e4405f;
}
.footer_newsletter .icon{
    margin-left: 10px;
}
form.footer-newsletter-form{
    display: flex;
    align-items: center;
}
form.footer-newsletter-form input[type='email']{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #d3d3d3;
    outline: none;
}
.footer_newsletter .icon {
    margin-left: 10px;
    border: 1px solid #999;
    border-radius: 20%;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
} 
/* footer */



/* preloader */

#preloader {
    background-color: #2e2e2e;
    width: 100%;
    min-height: 100vh;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
}
.bounce {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: 80px;
    background: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .bounce:before {
    content: "";
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #188fa7;
    border-radius: 50%;
    box-shadow: inset 0 -10px rgba(0, 0, 0, 0.1);
    animation: bounce 0.75s infinite linear;
  }
  
  .bounce:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: scale(1, 0.25);
    animation: bounceshadow 0.75s infinite linear;
  }
  
  @keyframes bounce {
    0% {
      transform: translate(0, -50%) scale(1, 0.8);
    }
    30% {
      transform: translate(0, -250%) scale(0.8, 1);
    }
    60% {
      transform: translate(0, -300%) scale(1, 0.8);
    }
    85% {
      transform: translate(0, -50%) scale(1, 0.8);
    }
    88% {
      transform: translate(0, -50%) scale(1, 0.8);
    }
    95%,
    100% {
      transform: translate(0, -50%) scale(1, 0.8);
    }
  }
  
  @keyframes bounceshadow {
    0% {
      transform: scale(1, 0.25);
    }
    30% {
      transform: scale(1.5, 0.25);
    }
    60% {
      transform: scale(2, 0.25);
    }
    85% {
      transform: scale(1, 0.25);
    }
    88% {
      transform: scale(1, 0.25);
    }
    95%,
    100% {
      transform: scale(1, 0.25);
    }
  }

  #preloader h2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 200%);
    color: #ddd;
    font-size: 40px;
  }

/* preloader */

a.scroll-to-top {
    position: fixed;
    z-index: 99999999;
    bottom: 50px;
    right: 0;
    font-size: 40px;
    color: var(--primary-color);
    text-decoration: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: 200ms linear;
}
a.scroll-to-top.active{
    bottom: 65px;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}


@media screen and (max-width: 768px) {
    .container{
        padding: 0 1rem;
    }
    section{
        padding-top: 2rem !important;
        padding-bottom: 3rem !important;
    }
    .section-heading{
        font-size: 2rem;
    }
    .header_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }
    .header_menu.show{
        transform: translateX(0);
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .header_menu li{
        margin: 1rem 0;
    }
    #hero{
        flex-direction: column;
        justify-content: center;
    }
    .hero_content{
        width: 100%;
        text-align: center;
    }
    .hero_content .btn{
        margin: 0 auto;
    }
    .hero_img{
        width: 100%;
    }
    .features{
        grid-template-columns: repeat(1fr);
    }
    .feature{
        padding: 1rem;
    }
    .about_details{
        flex-direction: column;
    }
    .about_details-content,
    .abput_details-img{
        width: 100%;
    }
    .project{
        flex-direction: column !important;
        gap: 2rem;
    }
    .project_img{
        width: 100%;
        max-width: 300px;
    }
    .project_title{
        font-size: 1.5rem;
    }
    .members{
        flex-direction: column;
        text-align: center;
    }
    .member{
        margin: 0 !important;
    }
    .member_img img{
        max-width: 300px;
    }
    .testimonial_img{
        display: none;
    }
    .testimonial-wrapper{
        width: 100%;
    }
    .contact{
        flex-direction: column;
    }
    .contact_form,
    .contact_details{
        width: 100%;
    }
    .footer_content{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .footer_bottom{
        flex-direction: column;
        text-align: center;
    }
}